<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Exporting schedule...</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        td:first-child {
            white-space: nowrap;
        }
    </style>

    <!-- Must Include SheetJS and FileSaver.js libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <% for (let i = 0; i < workbooks.length; i++) { %>
        <div class="workbook" id="<%= workbooks[i].id %>">
        <% for (const {id} of workbooks[i].tables) { %>
            <h3><%= id %></h3>
            <table id="<%= id %>">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < 15*2; i++) { %>
                        <tr>
                            <% const time = i * 30 + 420 %>
                            <td>
                                <% if (time >= 780) { %>
                                    <%- ('00' + Math.trunc((time - 720)/60)).slice(-2) %>:<%- ('00' + ((time - 720) % 60)).slice(-2) %> <%- (time >= 720) ? 'PM' : 'AM' %> 
                                <% } else { %>
                                    <%- ('00' + Math.trunc(time/60)).slice(-2) %>:<%- ('00' + (time % 60)).slice(-2) %> <%- (time >= 720) ? 'PM' : 'AM' %> 
                                <% } %>
                                - 
                                <% if (time + 30 >= 780) { %>
                                    <%- ('00' + Math.trunc((time + 30 - 720)/60)).slice(-2) %>:<%- ('00' + ((time + 30 - 720) % 60)).slice(-2) %> <%- (time >= 720) ? 'PM' : 'AM' %> 
                                <% } else { %>
                                    <%- ('00' + Math.trunc((time + 30)/60)).slice(-2) %>:<%- ('00' + (time + 30) % 60).slice(-2) %> <%- (time + 30 >= 720) ? 'PM' : 'AM' %> 
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <hr>
        <% } %>
        </div>
    <% } %>

    <script src="/lib/export-excel.js"></script>
    <script>
        function toTimeTable(id, schedules, classHours, classDays) {
            console.table(schedules);
            // current row
            let current = new Array(classDays);
            current.fill(null, 0);

            let time = 1;
            let excessSpan = new Array(classDays);
            excessSpan.fill(0, 0);

            const table = document.getElementById(id);
            const rows = $(table).find("tbody>tr").get();

            while (time <= classHours * 2) {
                if (schedules.length <= 0 || schedules[0].start != time) {
                    // console.table(current);
                    current = current.map((col, i) => (excessSpan[i] > 0) ? col : "<td></td>");
                    // console.log(current.join(""));
                    $(rows[time - 1]).append(current.join(""));
                    excessSpan = excessSpan.map(row => (row > 0) ? row - 1 : row);
                    current.fill(null, 0);
                    time++;
                    continue;
                }

                const { day, start, end, subject, occupant, mode, room } = schedules[0];
                excessSpan[day - 1] += end - start;
                current.splice(day - 1, 1,`<td rowspan="${end - start}"><b>${subject}</b><br><span>${occupant}</span><br><i>${mode} ${room ? '@ ' + room : ''}</i></td>`);
                schedules.shift();
            }
        }

        let workbooks = <%- JSON.stringify(workbooks) %>;
        for(const wb of workbooks) {
            for (const {id, body} of wb.tables) {
                console.log(id, body);
                toTimeTable(id, body, 15, 7);
            }
            exportToExcel(document.getElementById(wb.id), wb.id);
        }
    </script>
</body>
</html>