<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Exporting schedule...</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        td:first-child {
            white-space: nowrap;
        }
    </style>

    <!-- Must Include SheetJS and FileSaver.js libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <% for (let i = 0; i < workbooks.length; i++) { %>
        <div class="workbook" id="<%= workbooks[i].id %>">
        <% for (const {id, body} of workbooks[i].tables) { %>
            <h3><%= id %></h3>
            <table id="<%= id %>">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <% let current = new Array(7).fill(null, 0) %>
                    <% let excessSpan = new Array(7).fill(0, 0) %>
                    <% let time = 1 %>
                    <% let clock = 0 %>
                    <% while (time <= 15*2) { %>
                        <% clock = (time - 1) * 30 + 420 %>
                        <% if (body.length <= 0 || body[0].start != time) { %>
                            <tr>
                                <td>
                                    <% if (clock >= 780) { %>
                                        <%- ('00' + Math.trunc((clock - 720)/60)).slice(-2) %>:<%- ('00' + ((clock - 720) % 60)).slice(-2) %> <%- (clock >= 720) ? 'PM' : 'AM' %> 
                                    <% } else { %>
                                        <%- ('00' + Math.trunc(clock/60)).slice(-2) %>:<%- ('00' + (clock % 60)).slice(-2) %> <%- (clock >= 720) ? 'PM' : 'AM' %> 
                                    <% } %>
                                    - 
                                    <% if (clock + 30 >= 780) { %>
                                        <%- ('00' + Math.trunc((clock + 30 - 720)/60)).slice(-2) %>:<%- ('00' + ((clock + 30 - 720) % 60)).slice(-2) %> <%- (clock >= 720) ? 'PM' : 'AM' %> 
                                    <% } else { %>
                                        <%- ('00' + Math.trunc((clock + 30)/60)).slice(-2) %>:<%- ('00' + (clock + 30) % 60).slice(-2) %> <%- (clock + 30 >= 720) ? 'PM' : 'AM' %> 
                                    <% } %>
                                </td>
                                <% current = current.map((col, i) => (excessSpan[i] > 0) ? col : '<td></td>') %>
                                <%- current.join('') %>
                            </tr>
                            <% excessSpan = excessSpan.map(row => (row > 0) ? row - 1 : row) %>
                            <% current.fill(null, 0) %>
                            <% time++ %>
                            <% continue %>
                        <% } %>
                        <% const { day, start, end, subject, occupant, mode, room } = body[0] %>
                        <% excessSpan[day - 1] += end - start %>
                        <% current[day - 1] = `<td rowspan="${end - start}"><b>${subject}</b><br><span>${occupant}</span><br><i>${mode} ${room ? '@ ' + room : ''}</i></td>` %>
                        <% body.shift() %>
                    <% } %>
            </table>
            <hr>
        <% } %>
        </div>
    <% } %>

    <script src="/lib/export-excel.min.js"></script>
    <script>
        alert("Click 'OK' to download schedule.");
        const workbooks = document.getElementsByClassName("workbook");
        for(const wb of workbooks) {
            exportToExcel(document.getElementById(wb.id), wb.id);
        }
        if (workbooks.length <= 1) {
            window.close();
        }
    </script>
</body>
</html>