<!DOCTYPE html>
<html>

<head>
    <%- include('../base') %>
    <title>Chairperson Dashboard</title>
    <link rel="stylesheet" href="/styles/chair-root.css">
</head>

<body class="dashboard">
    <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert-title"><%= (serverAlert) ? serverAlert.title : "" %></h5>
                </div>
                <div class="modal-body" id="alert-body"><%= (serverAlert) ? serverAlert.body : "" %></div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar bg-light">
        <a role="button" class="task btn btn-light" id="schedules">
            <i class="fas fa-sitemap fa-2x mt-1"></i><br>schedules</a>
        <a role="button" class="task btn btn-light" id="faculty">
            <i class="fas fa-chalkboard-teacher fa-2x mt-1"></i><br>faculty</a>
        <!-- <a role="button" class="task" href="/chair/blocks" id="blocks">
            <i class="fas fa-users"></i><br>Blocks</a> -->
        <a role="button" class="task btn btn-light" id="courses">
            <i class="fas fa-graduation-cap fa-2x mt-1"></i><br>courses</a>
        <a role="button" class="task btn btn-light" id="profile">
            <i class="far fa-user-circle fa-2x mt-1"></i><br>profile</a>
        <a role="button" class="task btn btn-light" id="logout">
            <i class="fas fa-sign-out-alt fa-2x mt-1"></i><br>log out</a>
    </div>
    <% if (section == "schedules") { %>
        <%- include('schedules', { data: taskData }) %>
    <% } else if (section == "faculty") { %>
        <%- include('faculty', { data: taskData }) %> 
    <% } else if (section == "courses") { %>
        <%- include('courses', { data: taskData }) %>
    <% } else { %>
        <% section = "profile"; %>
        <%- include('profile', taskData) %>
    <% } %>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
    <script>
        //navigation task panel stuffss
        let openSection = "<%- section %>";
        $(`a.task[id=${openSection}]:not(#logout)`)
        .toggleClass("btn-secondary btn-light border-end border-4 border-primary")
        .hover(
            (event) => $(`div#${event.currentTarget.id}-view>div.side-panel`).show(),
            (event) => $(`div#${event.currentTarget.id}-view>div.side-panel`).hide()
        );

        $(`div#${openSection}-view>div.side-panel`).show().hover(
            (event) => $(event.currentTarget).show(),
            (event) => $(event.currentTarget).hide()
        );
        $(`a.task:not([id=${openSection}])`).click((event) => {
            const task = event.currentTarget.id;
            if (task == "profile") {
                window.location.replace("/chair");
            } else if (task == "logout") {
                window.location.replace("/logout");
            } else {
                window.location.replace("/chair/" + task);
            }
            
        });
    </script>
</body>

</html>