<!DOCTYPE html>
<html>

<head>
    <%- include('../base') %>
    <title>Chairperson Dashboard</title>
    <link rel="stylesheet" href="/styles/chair-root.css">
</head>

<body class="dashboard">
    <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert-title"><%= (serverAlert) ? serverAlert.title : "" %></h5>
                </div>
                <div class="modal-body" id="alert-body"><%= (serverAlert) ? serverAlert.body : "" %></div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar bg-light">
        <a role="button" class="task" href="/chair/schedules" id="schedules">
            <i class="fas fa-sitemap"></i><br>Schedules</a>
        <a role="button" class="task" href="/chair/faculty" id="faculty">
            <i class="fas fa-chalkboard-teacher"></i><br>Faculty</a>
        <!-- <a role="button" class="task" href="/chair/blocks" id="blocks">
            <i class="fas fa-users"></i><br>Blocks</a> -->
        <a role="button" class="task mb-5" href="/chair/courses" id="courses">
            <i class="fas fa-graduation-cap"></i><br>Courses</a>
        <a role="button" class="task" href="/chair" id="profile">
            <i class="far fa-user-circle fa-2x"></i><br>Profile</a>
        <a role="button" href="/logout">
            <i class="fas fa-sign-out-alt fa-2x"></i><br>Log out</a>
    </div>
    <% if (section == "profile") { %>
        <%- include('profile', taskData) %>
    <% } else if (section == "schedules") { %>
        <%- include('schedules', { data: taskData }) %>
    <% } else if (section == "faculty") { %>
        <%- include('faculty', { data: taskData }) %> 
    <% } else if (section == "courses") { %>
        <%- include('courses', { data: taskData }) %>
    <% } %>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
    <script>
        $("div.nav-bar>a>i").addClass("fa-2x mt-1");
        let openSection = "<%- section %>";
        $("div.nav-bar>a").addClass("btn btn-light rounded-0 px-1 w-100");

        //task side panel stuffss
        $(`a.task[id=${openSection}]`)
        .toggleClass("btn-secondary btn-light border-end border-4 border-primary")
        .attr("href", null)
        .hover(
            (event) => $(`div#${event.currentTarget.id}-view>div.side-panel`).show(),
            (event) => $(`div#${event.currentTarget.id}-view>div.side-panel`).hide()
        );
        $(`div#${openSection}-view>div.side-panel`).show().hover(
            (event) => $(event.currentTarget).show(),
            (event) => $(event.currentTarget).hide()
        );
    </script>
</body>

</html>