<% let {openTerms, closedTerms, currentTerm } = data %>
<div class="bg-light task-view" id="schedules-view">
    <div class="side-panel">
        <div class="panel-header mx-4">
            <div class="d-flex justify-content-between">
                <h4>Schedules</h4>
                <div>
                    <a type="button"><i class="fas fa-sort-alpha-up-alt"></i></a>
                    <a type="button"><i class="fas fa-search ms-2"></i></a>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Year"
                  aria-label="Year"
                  aria-describedby="new-term-year"
                  id="new-term-year"
                />
                <div class="dropdown">
                    <a class="text-primary dropdown-toggle input-group-text rounded-0" type="button"
                        data-mdb-toggle="dropdown" aria-expanded="false" id="new-term-sem">Semester</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" role="button">1<sup>st</sup> Semester</a></li>
                        <li><a class="dropdown-item" role="button">2<sup>nd</sup> Semester</a></li>
                        <li><a class="dropdown-item" role="button">Summer</a></li>
                        <li><hr class="dropdown-divider m-0"></li>
                        <li><a class="dropdown-item text-danger" role="button">Cancel</a></li>
                    </ul>
                </div>
                <a type="button" class="input-group-text" id="add-term">
                    <i class="fas fa-plus text-primary"></i>
                </a>
            </div>
        </div>
        <!-- <hr class="mb-0"> -->
        <div class="panel-body">
            <a type="button" class="collapse-btn" data-mdb-toggle="collapse" data-mdb-target="#open-terms"
                aria-expanded="false">
                <i class="fas fa-caret-down me-2"></i><text>Open Schedules</text>
            </a>
            <% if (openTerms.length> 0) { %>
                <div class="collapse" id="open-terms" title="OPEN">
                    <div>
                        <ul class="list-group panel-menu">
                            <% for (const term of openTerms) { %>
                                <a href="http://localhost:3000/chair/schedules?term=<%= term.year %><%= term.term %>" type="button" class="list-group-item list-group-item-action menu-item"
                                    title="<%= term.year %><%= term.term %>" id="<%= term.id %>">
                                    <p class="text-truncate m-0">
                                        <%- term.term_ordinal %>, <%= term.year %>-<%= term.year + 1 %>
                                    </p>
                                </a>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <% } else { %>
                    <div class="collapse" id="open-terms">
                        <p>No Open Terms</p>
                    </div>
                <% } %>
                    <a type="button" class="collapse-btn" data-mdb-toggle="collapse" data-mdb-target="#closed-terms" aria-expanded="false">
                        <i class="fas fa-caret-down me-2"></i><text>Closed Schedules</text>
                    </a>
                        
                <% if (closedTerms.length> 0) { %>
                    <div class="collapse" id="closed-terms" title="CLOSED">
                        <div><ul class="list-group panel-menu">
                            <% for (const term of closedTerms) { %>
                                <a href="http://localhost:3000/chair/schedules?term=<%= term.year %><%= term.term %>" type="button"class="list-group-item list-group-item-action menu-item"
                                    title="<%= term.year %><%= term.term %>" id="<%= term.id %>">
                                    <p class="text-truncate m-0">
                                        <%- term.term_ordinal %>, <%= term.year %>-<%= term.year + 1 %>
                                    </p>
                                </a>
                            <% } %>
                        </ul></div>
                    </div>
                <% } else { %>
                    <div class="collapse" id="closed-terms">
                        <p>No Closed Terms</p>
                    </div>
                <% } %>
        </div>
    </div>
    <% const {prev, current, next} = data %>
    <div class="shadow-3 bg-white px-5 pt-4">
        <% if (openTerms.length > 0 || closedTerms.length > 0) { %>
            <% currentTerm = (!currentTerm || currentTerm == "") ? (openTerms[0].year + openTerms[0].term) || (closedTerms[0].year + closedTerms[0].term) : currentTerm %>
            <% if (openTerms.some(t => t.year + t.term == currentTerm)) { %>
                <form method="post" target="auto_schedule" action="/schedule/generate" 
                    onsubmit="window.open('_blank','auto_schedule');">
                    <button name="term" type="submit" title="Autogenerate Schedule" id="generate-sched"
                        class="btn btn-primary btn-lg btn-rounded btn-top" value="<%= currentTerm %>">
                        generate schedule<i class="fas fa-star fa-lg ms-3"></i>
                    </button>
                </form>
                <div class="d-flex">
                    <h3 id="term-title"></h3>
                    <form method="post" target="export_schedule" action="/schedule/download/<%= currentTerm %>/department" 
                        onsubmit="window.open('_blank','export_schedule');">
                        <button type="submit" class="ms-4 btn btn-secondary btn-floating" title="Export schedules">
                            <i class="fas fa-cloud-arrow-down fa-lg"></i>
                        </button>
                    </form>
                </div>
                <label for="term-title">Status: <span id="term-status"></span></label>
                <hr>
                <nav aria-label="Schedule Navigation for Department">
                    <ul class="pagination" id="schedule-nav">
                        <% if (prev) { %>
                        <li class="page-item">
                            <a class="page-link me-2" type="button" 
                                href="/chair/schedules?term=<%= currentTerm %><%= prev.id != 'faculty' ? '&course=' + prev.id : '' %>">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <p class="prev page-label"><%= prev.title %></p>
                        </li>
                        <% } else { %>
                            <li class="page-item disabled"></li>
                        <% } %>
                        <li class="page-title"><%= current.title %></li>
                        <% if (next) { %>
                        <li class="justify-content-end page-item">
                            <p class="next page-label"><%= next.title %></p>
                            <a class="page-link ms-2" type="button" 
                                href="/chair/schedules?term=<%= currentTerm %><%= next.id != 'faculty' ? '&course=' + next.id : '' %>">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                        <% } else { %>
                            <li class="justify-content-end page-item disabled"></li>
                        <% } %>
                    </ul>
                </nav>
                <table class="table table-bordered table-sm my-4"></table>
            <% } else if (closedTerms.some(t => t.year + t.term == currentTerm)) { %>
                <h3 id="term-title"></h3>
                <label for="term-title">Status: <span id="term-status"></span></label>
                <hr>
                <nav aria-label="Schedule Navigation for Department">
                    <ul class="pagination" id="schedule-nav">
                        <% if (prev) { %>
                            <% const {id, title} = prev %>
                            <li class="page-item">
                                <a class="page-link me-2" type="button" 
                                    href="/chair/schedules?term=<%= currentTerm %><%= id == 'faculty' ? '' : '&course=' + id %>">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <p class="prev page-label"><%= title %></p>
                            </li>
                        <% } else { %>
                            <li class="page-item disabled"></li>
                        <% } %>
                        <li class="page-title"><%= current.title %></li>
                        <% if (next) { %>
                            <% const {id, title} = next %>
                            <li class="justify-content-end page-item">
                                <p class="next page-label"><%= title %></p>
                                <a class="page-link ms-2" type="button" 
                                    href="/chair/schedules?term=<%= currentTerm %><%= id == 'faculty' ? '' : '&course=' %>">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        <% } else { %>
                            <li class="justify-content-end page-item disabled"></li>
                        <% } %>
                    </ul>
                </nav>
                <table class="table table-bordered table-sm my-4"></table>
            <% } else { %>
                <h3 id="term-title">No terms chosen to view yet...</h3>
            <% } %>
        <% } else { %>
            <h3 id="term-title">Woops! No terms found yet, create new schedule now.</h3>
        <% } %>
    </div>
</div>

<script src="/lib/responsive-table.js"></script>
<script src="/lib/display-dropdown.js"></script>
<script>
    const addTerm = (year, semester) => new Promise((resolve, reject) => $.post(
        "/api/terms", { year: year, term: semester },
        (data, status) => {
            resolve(data.termID);
        }).fail((data) => location.reload())
    );

    const addBlock = (courseID, year, totalStudents, termID) => new Promise((resolve, reject) => {
        $.post("/api/blocks/" + courseID, 
            { year: year, totalStudents: totalStudents, termID: termID },
            (data) => resolve(data.newBlock)
        ).fail((data) => location.reload())
    });

    const getSchedules = (termID, category) => new Promise(
        (resolve, reject) => $.get(
            "/api/schedules/" + termID, {category: category}, 
            (data, status) => resolve(data.schedules)
        ).fail((data) => location.load())
    );

    function initScheduleTable(table) {
        const {id} = table;
        const termID = openTerm.attr("id");

        if (id == "faculty") {
            scheduleTable.attr("id", "faculty-schedule").append(
                `<thead clas='text-center'><tr><th table-cts-column="faculty_id" style="width: 130px;">ID</th>` +
                    `<th table-cts-column="faculty_status" style="width: 130px;">Employment Status</th>` +
                    `<th table-cts-column="teach_load number" style="width: 80px;">Assigned Load</th>` +
                    `<th table-cts-column="name">Name</th>` +
                    `<th table-cts-column="pref_status" style="width: 120px;">Preference Status</th>` +
                `</tr></thead><tbody></tbody>`
            );
            const facultyTable = new DisplayTable("#faculty-schedule");
            facultyTable.initData(getSchedules(termID, id), true, () => $(`${facultyTable.body}>tr`).click(event => openSchedule(id, event)));
        } else {
            scheduleTable.attr("id", "blocks-schedule").append(
                `<thead clas='text-center'><tr><th table-cts-column="year" style="width: 120px;">Year</th>` +
                `<th table-cts-column="block_no" style="width: 120px;">Block</th>` +
                `<th table-cts-column="total_students number" style="width: 160px;">No. of Students</th>` +
                `<th table-cts-column="edit">Action</th></tr></thead><tbody></tbody>` +
                `<tfoot><tr class='add-data'>` +
                    `<td><input type="number" class="form-control add-td-input reuse"></td>` +
                    `<td><label class="add-td-input optional"></label></td>` +
                    `<td><input type="number" class="form-control add-td-input optional" min="1" max="100"></td>` +
                `</tr></tfoot>`
            );

            const blocksTable = new EditableTable("#blocks-schedule");
            blocksTable.initData(getSchedules(termID, id), true, () => {
                $(blocksTable.addBtn).click(async (event) => {
                    try {
                        const {year, total_students} = await $(event.currentTarget).data("newRow");
                        const newBlock = await addBlock(id, year, total_students, termID);
                        $(`${blocksTable.body}>tr:last-child`).click((event) => openSchedule(id, event)).children("td:nth-child(2)").text(newBlock);
                    } catch (error) {
                        console.log("woopss");
                        $(`${blocksTable.body}>tr:last-child`).remove();
                    }
                });
                $(`${blocksTable.body}>tr`).click((event) => openSchedule(id, event));
            });
        }
    }

    const openSchedule = (tableID, rowEvent) => {
        const row = rowEvent.currentTarget;

        if (tableID == "faculty") {
            window.location.href = `/schedule/faculty?term=${openTerm.attr("title")}&` +
                `id=${row.firstChild.textContent}`;    
        } else {
            const [year, block] = row.children;
            window.location.href = `/schedule/${tableID}?term=${openTerm.attr("title")}&` +
                `year=${year.textContent}&block=${block.textContent}`;
        }
    }

    const updateLoad = (rowEvent) => {
        if (!rowEvent.currentTarget.isConnected) {
            return;
        }
        
        const columns =  $(event.currentTarget).closest("td").siblings().get();
        $.post("/api/preferences/" + openTerm.attr("id"),
            { load: columns[2].textContent, facultyID: columns[0].textContent }
        ).fail((data) => console.log(data));
    };

    /* 
    * main proces start here
    */
    let openTerm = $(".menu-item[title='<%= currentTerm %>']"); // current academic term opened
    
    const scheduleTable = $("#schedules-view>div:last-child>table"); // faculty or blocks schedule table of open term
    const termTitle = $("#term-title");
    const termStatus = $("span#term-status");
    const currentTable = <%- JSON.stringify(current) %>;
    
    if (openTerm.length > 0) {
        $("#create-schedule").val(openTerm.attr("id"));
        termStatus.text(openTerm.closest(".collapse").addClass("show").attr("title"));
        termTitle.text(openTerm.text());
        openTerm.addClass("active");
        if (termStatus.text() == "OPEN") {
            termStatus.addClass("text-success");
        } else {
            termStatus.addClass("text-muted");
        }

        $("#open-terms").find(".menu-item").click((event) => termStatus.addClass("text-success").removeClass("text-muted"));

        $("#closed-terms").find(".menu-item").click((event) => termStatus.addClass("text-muted").removeClass("text-success"));

        initScheduleTable(currentTable);
    } else {
        $("#open-terms").addClass("show");
    }


    displayDropMenu($("#new-term-sem"), "Semester");

    $("#add-term").click(async (event) => {
        const semester = $("#new-term-sem").text();
        const year = $("#new-term-year").val();

        if (semester === "Semester" || !year) {
            return console.error("Missing new year or semester input.");
        } else if ($(".menu-item").is(`[title=${year + semester[0]}]`)) {
            return console.error("Academic term already exists.");
        }
        
        const newTermID = await addTerm(year, semester[0]);
        if (newTermID) {
            location.replace("http://localhost:3000/chair/schedules?term=" + year + semester[0]);
        }
    });
</script>