<!DOCTYPE html>
<html>

<head>
    <%- include('../base') %>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/admin-root.css">
</head>

<body class="dashboard">
    <div class="modal fade" id="alert-modal" tabindex="-1" aria-labelledby="alert-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alert-title"><%= (serverAlert) ? serverAlert.title : "" %></h5>
                </div>
                <div class="modal-body" id="alert-body"><%= (serverAlert) ? serverAlert.body : "" %></div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar bg-light">
        <a role="button" class="task btn btn-light" id="departments">
            <i class="fas fa-sitemap fa-2x mt-1"></i><br><small>Departments</small></a>
        <a role="button" class="task btn btn-light" id="faculty">
            <i class="fas fa-chalkboard-teacher fa-2x mt-1"></i><br>Faculty</a>
        <a role="button" class="task btn btn-light" href="/admin/subjects" id="subjects">
            <i class="fas fa-chalkboard fa-2x mt-1"></i><br>Subjects</a>
        <a role="button" class="task btn btn-light" id="rooms">
            <i class="fas fa-door-closed fa-2x mt-1"></i><br>Rooms</a>
        <a role="button" class="task btn btn-light" id="schedule">
            <i class="fas fa-calendar-day fa-2x mt-1"></i><br>Schedule</a>
        <a role="button" class="task btn btn-light" id="preference">
            <i class="fas fa-clipboard-check fa-2x mt-1"></i><br>Preference</a>
        <a role="button" class="task btn btn-light" id="profile">
            <i class="far fa-user-circle fa-2x mt-1"></i><br>Profile</a>
        <a role="button" class="task btn btn-light" id="logout">
            <i class="fas fa-sign-out-alt fa-2x mt-1"></i><br>Log out</a>
    </div>
    <% if (section == "departments") { %>
        <%- include('departments', { data: taskData }) %>
    <% } else if (section == "faculty") { %>
        <%- include('faculty', { data: taskData }) %>
    <% } else if (section == "subjects") { %>
        <%- include('subjects', { data: taskData }) %>
    <% } else if (section == "schedule") { %>
        <%- include('../faculty-root/schedule', {data: taskData}) %>
    <% } else if (section == "preference") { %>
        <%- include('../faculty-root/preference', {data: taskData}) %>
    <% } else if (section == "rooms") { %>
        <%- include('rooms', { data: taskData }) %>
    <% } else { %>
        <%- include('profile', taskData) %>
    <% } %>

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
    <script>
        $("div.nav-bar>a>i").addClass("fa-2x mt-1");
        let openSection = "<%- section %>";
        // $("div.nav-bar>a").addClass("btn btn-light rounded-0 px-1 w-100");

        //task side panel stuffss
        $(`a.task[id=${openSection}]:not(#logout)`)
        .toggleClass("btn-secondary btn-light border-end border-4 border-primary")
        .attr("href", null)
        .hover(
            (event) => $(`div#${event.currentTarget.id}-view>div.side-panel`).show(),
            (event) => $(`div#${event.currentTarget.id}-view>div.side-panel`).hide()
        );

        $(`a.task:not([id=${openSection}])`).click((event) => {
            const task = event.currentTarget.id;
            if (task == "profile") {
                window.location.replace("/admin");
            } else if (task == "logout") {
                window.location.replace("/logout");
            } else {
                window.location.replace("/admin/" + task);
            }

        });

        $(`div#${openSection}-view>div.side-panel`).show().hover(
            (event) => $(event.currentTarget).show(),
            (event) => $(event.currentTarget).hide()
        );
    </script>
</body>

</html>
