<% const {classes, deptClasses, otherClasses, current, courseID, prevBlock, nextBlock, faculty} = data %>
<div class="modal fade" id="add-class" data-mdb-backdrop="static" data-mdb-keyboard="false"
    tabindex="-1" aria-labelledby="add-class-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-class-label">Assign New Class</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="class-subject">Subject:</label><span id="class-subject"></span><br>
                <label for="class-block">Block:</label>
                <span id="class-block"><%= current.course %> <%= current.year %>-<%= current.block_no %></span><br>
                <label for="class-hours">Assigned hours:</label>
                <span id="class-hours"></span><br>
                <div class="d-flex align-items-center my-3" >
                    <label for="class-faculty" class="fw-bold me-2">Faculty:</label>
                    <span class="class-faculty"></span>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle class-faculty" type="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">pick professor</a>
                        <ul class="dropdown-menu" aria-labelledby="class-faculty">
                            <% for (const prof of faculty) { %>
                                <li><a class="dropdown-item px-2" role="button" id="<%= prof.id %>">
                                    <% if (prof.teach_load == "FULL") { %>
                                        <span class="text-warning faculty-name"><%= prof.name %></span>
                                        <span class="faculty-load">( <%= prof.teach_load %> )</span>
                                    <% } else { %>
                                        <span class="ms-2 faculty-name"><%= prof.name %></span>
                                        <span class="faculty-load">( <%= prof.teach_load %> )</span>
                                    <% } %>
                                </a></li>
                            <% } %>
                            <li><hr class="dropdown-divider m-0"></li>
                            <li><a class="dropdown-item text-danger cancel" role="button">Cancel</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p><small>Class Schedule</small></p>
                <div class="input-group mb-2">
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle input-group-text rounded-end-0" type="button"
                            data-mdb-toggle="dropdown" aria-expanded="false" id="class-day">Pick Day</a>
                        <ul class="dropdown-menu" aria-labelledby="class-day">
                            <li><a class="dropdown-item" role="button" data-cts-enum="1">MONDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="2">TUESDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="3">WEDNESDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="4">THURSDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="5">FRIDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="6">SATURDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="7">SUNDAY</a></li>
                            <li><hr class="dropdown-divider m-0"></li>
                            <li><a class="dropdown-item text-danger cancel" type="button">Cancel</a></li>
                        </ul>
                    </div>
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                    <input type="time" id="class-start" class="form-control">
                    <span class="input-group-text"> - </span>
                    <input type="time" id="class-end" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle input-group-text rounded-end-0" type="button"
                            data-mdb-toggle="dropdown" aria-expanded="false" id="class-mode">Pick Mode</a>
                        <ul class="dropdown-menu" aria-labelledby="class-mode">
                            <li><a class="dropdown-item" role="button" data-cts-enum="1">F2F</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="2">Online</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="3">Blended</a></li>
                            <li><hr class="dropdown-divider m-0"></li>
                            <li><a class="dropdown-item text-danger cancel" type="button">Cancel</a></li>
                        </ul>
                    </div>
                    <input type="text" id="class-room" class="form-control" placeholder="Room no." disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirm-new-class" data-mdb-dismiss="modal">Assign</button>
            </div>
        </div>
    </div>
</div>
<div class="main-view">
    <div>
        <nav aria-label="Schedule Navigation for Blocks">   
            <ul class="pagination" id="schedule-nav">
                <% if (prevBlock) { %>
                    <% const {year, ordinal_year, block_no} = prevBlock %>
                    <li class="page-item">
                        <a href="/schedule/<%= courseID %>?term=<%= term.code %>&year=<%= year %>&block=<%= block_no %>"
                            class="page-link me-2" type="button" ><i class="fas fa-chevron-left"></i></a>
                        <p class="prev page-label"><%- ordinal_year %> year, Block <%= block_no %></p>
                    </li>
                <% } else { %>
                    <li class="page-item disabled">
                        <a class="page-link me-2" type="button"><i class="fas fa-chevron-left"></i></a>
                        <p class="prev page-label"></p>
                    </li>
                <% } %>
                    <li class="page-item">
                        <h4 class="text-center mt-2" style="color:#b9aadc"><%= current.course %></h4>
                    </li>
                <% if (nextBlock) { %>
                    <% const {year, ordinal_year, block_no} = nextBlock %>
                    <li class="justify-content-end page-item">
                        <p class="next page-label"><%- ordinal_year %> year, Block <%= block_no %></p>
                        <a href="/schedule/<%= courseID %>?term=<%= term.code %>&year=<%= year %>&block=<%= block_no %>" 
                            class="page-link ms-2" type="button"><i class="fas fa-chevron-right"></i></a>
                    </li>
                <% } else { %>
                    <li class="justify-content-end page-item disabled">
                        <p class="next page-label"></p>
                        <a class="page-link ms-2" type="button"><i class="fas fa-chevron-right"></i></a>
                    </li>
                <% } %>
            </ul>    
        </nav>
        <% const {id, year, ordinal_year, block_no, course} = current %>
        <form method="post" target="export_schedule" action="/schedule/download/<%= term.code %>/block" 
            class="about d-flex mt-4" onsubmit="window.open('_blank','export_schedule');">
            <h4 class="page-title"><%- ordinal_year %> year, Block <%= block_no %></h4>
            <input type="hidden" name="year" value="<%= year %>">
            <input type="hidden" name="block_no" value="<%= block_no %>">
            <input type="hidden" name="courseID" value="<%= courseID %>">
            <input type="hidden" name="course" value="<%= course %>">
            <button type="submit" class="ms-4 btn btn-secondary btn-floating" title="Export schedules">
                <i class="fas fa-cloud-arrow-down fa-lg"></i>
            </button>
        </form>
        <div class="scheduler">
            <div></div>
            <div class="days">
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div>SAT</div>
                <div>SUN</div>
            </div>
            <div class="times">
                <div>7 AM</div>
                <div>8 AM</div>
                <div>9 AM</div>
                <div>10 AM</div>
                <div>11 AM</div>
                <div>12 PM</div>
                <div>1 PM</div>
                <div>2 PM</div>
                <div>3 PM</div>
                <div>4 PM</div>
                <div>5 PM</div>
                <div>6 PM</div>
                <div>7 PM</div>
                <div>8 PM</div>
                <div>9 PM</div>
                <div>10 PM</div>
            </div>
            <div class="schedules">
                <div class="sched-grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="sched-body">
                    <% for (const schedule of classes) { %>
                        <div class="sched-block" data-mdb-toggle="tooltip" data-mdb-html="true"
                            <% if (schedule.room) { %>
                            title="<b><%= schedule.subject %></b><br><small>Prof. <%= schedule.faculty_name %><br><i><%= schedule.mode %> @ <%= schedule.room %></i></small>"
                            <% } else { %>
                            title="<b><%= schedule.subject %></b><br><small>Prof. <%= schedule.faculty_name %><br><i><%= schedule.mode %></i></small>"
                            <% } %>
                            style="grid-column: <%= schedule.day %> / span 1; grid-row: <%= schedule.start %> / <%= schedule.end %>;">
                            <h6 class="text-break"><%= schedule.subject %></h6>
                            <p class="text-truncate"><small>
                                Prof. <%= schedule.faculty_name %><br>
                                <% if (schedule.room) { %>
                                    <i><%= schedule.mode %> @ <%= schedule.room %></i>
                                <% } else { %>
                                    <i><%= schedule.mode %></i>
                                <% } %>
                            </small></p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="side-panel">
        <div class="panel-header mx-4">
            <h5>Unassigned Classes</h5>
        </div>
        <div class="panel-body">
            <a type="button" class="collapse-btn" data-mdb-toggle="collapse" data-mdb-target="#department-classes"
                aria-expanded="false">
                <i class="fas fa-caret-down me-2"></i><text>Departmental Classes</text>
            </a>
            <% if (deptClasses.length> 0) { %>
                <div class="collapse show" id="department-classes">
                    <ul class="list-group panel-menu">
                        <% for (const {subj_id, subject, req_hours, assigned_time, faculty_id, faculty_name} of deptClasses) { %>
                            <button type="button" title="<%= subject %>" id="<%= subj_id %>"
                                class="list-group-item list-group-item-action menu-item"
                                <% if (faculty_id) { %>
                                    itemid="<%= faculty_id %>"
                                <% } %>
                                aria-valuemax="<%= req_hours || 0 %>"
                                aria-valuenow="<%= assigned_time || 0 %>">
                                <p class="text-truncate m-0">
                                    <%= subject %><br>
                                    <% if (faculty_id) { %>
                                        <small class="text-muted faculty-name">Professor: <%= faculty_name %></small>
                                    <% } %>
                                </p>
                            </button>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <div class="collapse show" id="department-classes">
                    <p>No more classes to assign</p>
                </div>
            <% } %>
            <a type="button" class="collapse-btn" data-mdb-toggle="collapse" data-mdb-target="#other-classes" 
                aria-expanded="false"><i class="fas fa-caret-down me-2"></i><text>Other Classes</text>
            </a>
            <% if (otherClasses.length> 0) { %>
                <div class="collapse show" id="other-classes">
                    <ul class="list-group rounded-0">
                        <% for (const {subj_id, subject, req_hours, assigned_time, faculty_id, faculty_name} of otherClasses) { %>
                            <button type="button" title="<%= subject %>" id="<%= subj_id %>"
                                class="list-group-item list-group-item-action"
                                <% if (faculty_id) { %>
                                    itemid="<%= faculty_id %>"
                                <% } %>
                                aria-valuemax="<%= req_hours || 0 %>"
                                aria-valuenow="<%= assigned_time || 0 %>">
                                <p class="text-truncate m-0">
                                    <%= subject %><br>
                                    <% if (faculty_id) { %>
                                        <small class="text-muted faculty-name">Professor: <%= faculty_name %></small>
                                    <% } %>
                                </p>
                            </button>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <div class="collapse" id="other-classes">
                    <p>No more classes to assign</p>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script src="/lib/display-dropdown.js"></script>
<script>
    const addClass = (schedule) => new Promise((resolve, reject) => {
        $.post("/api/schedules/<%= term.id %>", { schedule: schedule }, (data) => resolve(data)
        ).fail((error) => {
            console.log(error);
            reject(error.responseJSON || error.responseText);
        });
    });
    
    $(".menu-item").click((event) => {
        const newClass = event.currentTarget;
        $("#class-subject").text(newClass.title).attr("aria-valuenow", newClass.id);
        const assignedHours = parseFloat(newClass.ariaValueNow);
        const reqHours = parseInt(newClass.ariaValueMax);
        $("#class-hours")
            .text(`${assignedHours} / ${reqHours}`)
            .attr("aria-valuemax", reqHours - assignedHours)
            .attr("aria-valuemin", assignedHours);
        
        const facultyID = newClass.getAttribute("itemid");
        if (facultyID && facultyID != "") {
            const facultyName = $(newClass).find(".faculty-name").text().slice(11);
            $("span.class-faculty").text(facultyName).attr("aria-valuenow", facultyID);
            $("a.dropdown-toggle.class-faculty").hide();
        } else {
            $("span.class-faculty").empty();
            $("a.dropdown-toggle.class-faculty").show();
        }
        newClassForm.show();
    });

    $("[aria-labelledby='class-day'] > li > a.dropdown-item").click((event) => {
        const dayIndex = event.currentTarget.getAttribute("data-cts-enum");
        if (!dayIndex) return $("#class-day").attr("aria-valuenow", null);

        $("#class-day").attr("aria-valuenow", dayIndex);
        $("#class-start").focus();
    });

    $("[aria-labelledby='class-mode'] > li > a.dropdown-item").click((event) => {
        const modeIndex = event.currentTarget.getAttribute("data-cts-enum");
        if (!modeIndex) return $("#class-room").attr("aria-valuenow", null);

        $("#class-mode").attr("aria-valuenow", modeIndex);
        if (modeIndex == 1) {
            $("#class-room").prop("disabled", false).focus();
        } else {
            $("#class-room").val(null).prop("disabled", true);
        }
    });

    $("[aria-labelledby='class-faculty'] > li > a.dropdown-item").click((event) => {
        $("a.dropdown-toggle.class-faculty")
            .attr("aria-valuenow", event.currentTarget.id)
            .text($(event.currentTarget).find(".faculty-name").text());
        // TODO: get preferred subjects and schedule
    });

    $("#confirm-alert").click((event) => {
        event.currentTarget.removeAttribute("data-mdb-target");
    });

    $("#confirm-new-class").click(async (event) => {
        const day = $("#class-day");
        const start = $("#class-start");
        const end = $("#class-end");
        const hours = $("#class-hours");
        const reqMinutes = parseFloat(hours.attr("aria-valuemax")) * 60;
        if (day.val() == "Pick Day" || !start.val() || !end.val()) {
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            alertModal.show(2, "Missing schedule input", "Fill in week day, start time and end time.");
            return console.log("Missing schedule input.");
        } else if (start.val() > end.val()) {
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            alertModal.show(2, "Invalid time input", "End time is earlier than start time");
            return console.log("Start time must be earlier than end time");
        }
        let startTime = roundMinutes(start.val(), 30);
        if (startTime < 7 * 60) {
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            alertModal.show(2, "Start time is too early", "Class must start on or later than 7AM");
            return console.log("Class must start on or later than 7AM");
        }
        
        let endTime = roundMinutes(end.val(), 30);
        if (endTime > 22 * 60) {
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            alertModal.show(2, "End time is too late", "Class must end on or before than 10PM");
            return console.log("Class must end on or before 10PM");
        } else if (endTime - startTime > reqMinutes) {
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            alertModal.show(2, "Invalid time input", "Assigned time exceeds required hours.");
            return console.log("Assigned time exceeds required hours.");
        }
        
        const faculty = $(".class-faculty[aria-valuenow]:first");
        if (faculty.text().trim() == "pick professor") {
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            return alertModal.show(2, "Missing professor", "Choose faculty to assign.");
        }
        
        const mode = $("#class-mode");
        const room = $("#class-room");
        const subject = $("#class-subject");
        try {
            await addClass({
                faculty: faculty.attr("aria-valuenow"),
                subject: subject.attr("aria-valuenow"),
                mode: mode.attr("aria-valuenow") || 1,
                room: room.val().toLowerCase(),
                block: "<%= current.id %>",
                day: day.attr("aria-valuenow"),
                start: startTime,
                end: endTime,
                partial: parseFloat(hours.attr("aria-valuemin")) > 0 ? 1 : 0
            });
            // $(".sched-body").append(
            //     `<div class="sched-block" title="${subject.text()}\n` +
            //         `Prof. ${faculty.text()}\n${mode.text()} ${schedule.room ? "@ " + schedule.room : ""}"` +
            //         `style="grid-column: ${schedule.day} / span 1; ` +
            //         `grid-row: ${schedule.start} / ${schedule.end};">` +
            //     `<h6 class="text-break">${subject.text()}</h6>` +
            //     `<p class="text-truncate"><small>` +
            //         `Prof. ${faculty.text()}<br>${mode.text()} ` +
            //         `${schedule.room ? "@ " + schedule.room : ""}</small></p>`
            // );
            location.reload();
            // $(".main-view > div:last-child").scrollTop(0);
            // scrollToFirstSched(schedule.start);
            // alertModal.show(...Object.values(message));
            // $(`.menu-item#${subject.attr("aria-valuenow")}`).remove();
            // resetClassForm();
        } catch (error) {
            console.error(error);
            const {redirect, message} = error;
            if (redirect) {
                return location.replace(redirect);
            }
            $("#confirm-alert").attr("data-mdb-target", "#add-class").attr("data-mdb-toggle", "modal");
            alertModal.show(...Object.values(message));
        }
    });

    function roundMinutes(time, nearestMinutes = 1) {
        let [hours, mins] = time.split(":");
        let toMins = parseInt(hours) * 60 + parseInt(mins);
        const rounded = Math.round(toMins / nearestMinutes) * nearestMinutes;
        const finalMins = rounded % 60;
        const finalHours = (rounded - finalMins);
        return finalHours + finalMins;
    }

    $(document).ready(() => setTimeout(() => {
        const startHeight = <%- JSON.stringify(Math.min(...classes.map(c => c.start)) || 0) %>;
        if (startHeight > 9) {
            $(".main-view>div:last-child").stop().animate({scrollTop: startHeight * 50 + 107}, 1000, 'swing');
        }
    }, 300));
    
    displayDropMenu($("#class-day"), "Pick Day");
    displayDropMenu($("#class-mode"), "Pick Mode");
    displayDropMenu($("#class-faculty"), "Pick Professor");
</script>