<% const {classes, leftClasses, current, courseID, prevBlock, nextBlock, faculty} = data %>
<div class="modal fade" id="add-class" data-mdb-backdrop="static" data-mdb-keyboard="false"
    tabindex="-1" aria-labelledby="add-class-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-class-label">Assign New Class</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="class-subject">Subject:</label><span id="class-subject"></span><br>
                <label for="class-hours">Assigned hours:</label>
                <span id="class-hours"></span><br>
                <div class="d-flex align-items-center my-3" >
                    <label for="class-faculty" class="fw-bold me-2">Faculty:</label>
                    <div class="dropdown">
                        <span id="class-faculty"></span>
                        <a class="btn btn-secondary dropdown-toggle" type="button"
                            data-mdb-toggle="dropdown" aria-expanded="false" id="class-faculty">Pick Professor</a>
                        <ul class="dropdown-menu" aria-labelledby="class-faculty">
                            <% for (const prof of faculty) { %>
                                <li><a class="dropdown-item" role="button" id="<%= prof.id %>">
                                    <% if (prof.teach_load == "FULL") { %>
                                        <span class="text-warning ms-2"><%= prof.name %></span>
                                        ( <%= prof.teach_load %> )
                                    <% } else { %>
                                        <span class="ms-2"><%= prof.name %></span>
                                        ( <%= prof.teach_load %> )
                                    <% } %>
                                </a></li>
                            <% } %>
                            <li><hr class="dropdown-divider m-0"></li>
                            <li><a class="dropdown-item text-danger" role="button">Cancel</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p><small>Class Schedule</small></p>
                <div class="input-group mb-2">
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle input-group-text rounded-end-0" type="button"
                            data-mdb-toggle="dropdown" aria-expanded="false" id="class-day">Pick Day</a>
                        <ul class="dropdown-menu" aria-labelledby="class-day">
                            <li><a class="dropdown-item" role="button" data-cts-enum="1">MONDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="2">TUESDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="3">WEDNESDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="4">THURSDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="5">FRIDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="6">SATURDAY</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="7">SUNDAY</a></li>
                            <li><hr class="dropdown-divider m-0"></li>
                            <li><a class="dropdown-item text-danger" role="button">Cancel</a></li>
                        </ul>
                    </div>
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                    <input type="time" id="class-start" class="form-control">
                    <span class="input-group-text"> - </span>
                    <input type="time" id="class-end" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle input-group-text rounded-end-0" type="button"
                            data-mdb-toggle="dropdown" aria-expanded="false" id="class-mode">Pick Mode</a>
                        <ul class="dropdown-menu" aria-labelledby="class-mode">
                            <li><a class="dropdown-item" role="button" data-cts-enum="1">F2F</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="2">online</a></li>
                            <li><a class="dropdown-item" role="button" data-cts-enum="3">blended</a></li>
                            <li><hr class="dropdown-divider m-0"></li>
                            <li><a class="dropdown-item text-danger" role="button">Cancel</a></li>
                        </ul>
                    </div>
                    <input type="text" id="class-room" class="form-control" placeholder="Room no." disabled>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirm-new-class">Assign</button>
            </div>
        </div>
    </div>
</div>
<div class="main-view">
    <div class="side-panel">
        <div class="panel-header mx-4">
            <h5>Unassigned Classes</h5>
        </div>
        <div class="panel-body px-3">
            <hr>
            <% if (leftClasses.length > 0) { %>
                <ul class="list-group panel-menu">
                <% for (const {subj_id, subject, req_hours, assigned_time, faculty_id, faculty_name} of leftClasses) { %>
                    <button type="button" title="<%= subject %>" 
                        class="list-group-item list-group-item-action menu-item"
                        <% if (faculty_id) { %>
                            itemid="<%= faculty_id %>"
                        <% } %>
                        aria-valuemax="<%= req_hours || 0 %>"
                        aria-valuenow="<%= assigned_time || 0 %>">
                        <p class="text-truncate m-0">
                            <%= subject %><br>
                            <% if (faculty_id) { %>
                                <small class="text-muted prof-name">Professor: <%= faculty_name %></small>
                            <% } %>
                        </p>
                    </button>
                <% } %>
                </ul>
            <% } else { %>
                <p class="text-muted text-center">No more classes</p>
            <% } %>
        </div>
    </div>
    <div>
        <nav aria-label="Schedule Navigation for Blocks">   
            <ul class="pagination" id="schedule-nav">
                <% if (prevBlock) { %>
                    <% const {year, ordinal_year, block_no} = prevBlock %>
                    <li class="page-item">
                        <a href="/schedule/<%= courseID %>?term=<%= term.code %>&year=<%= year %>&block=<%= block_no %>"
                            class="page-link me-2" type="button" ><i class="fas fa-chevron-left"></i></a>
                        <p class="prev page-label"><%- ordinal_year %> year, Block <%= block_no %></p>
                    </li>
                <% } else { %>
                    <li class="page-item disabled">
                        <a class="page-link me-2" type="button"><i class="fas fa-chevron-left"></i></a>
                        <p class="prev page-label"></p>
                    </li>
                <% } %>
                    <li class="page-item"><h4 class="text-center mt-2" style="color:#b9aadc">
                        <%= current.course %>
                    </h4></li>
                <% if (nextBlock) { %>
                    <% const {year, ordinal_year, block_no} = nextBlock %>
                    <li class="justify-content-end page-item">
                        <p class="next page-label"><%- ordinal_year %> year, Block <%= block_no %></p>
                        <a href="/schedule/<%= courseID %>?term=<%= term.code %>&year=<%= year %>&block=<%= block_no %>" 
                            class="page-link ms-2" type="button"><i class="fas fa-chevron-right"></i></a>
                    </li>
                <% } else { %>
                    <li class="justify-content-end page-item disabled">
                        <p class="next page-label"></p>
                        <a class="page-link ms-2" type="button"><i class="fas fa-chevron-right"></i></a>
                    </li>
                <% } %>
            </ul>    
        </nav>
        <% const {id, year, ordinal_year, block_no, course} = current %>
        <form method="post" target="export_schedule" action="/schedule/download/<%= term.code %>/block" 
            class="about d-flex mt-4" onsubmit="window.open('_blank','export_schedule');">
            <h4 class="page-title"><%- ordinal_year %> year, Block <%= block_no %></h4>
            <input type="hidden" name="year" value="<%= year %>">
            <input type="hidden" name="block_no" value="<%= block_no %>">
            <input type="hidden" name="courseID" value="<%= courseID %>">
            <input type="hidden" name="course" value="<%= course %>">
            <button type="submit" class="ms-4 btn btn-secondary btn-floating" title="Export schedules">
                <i class="fas fa-cloud-arrow-down fa-lg"></i>
            </button>
        </form>
        <div class="scheduler">
            <div></div>
            <div class="days">
                <div>MON</div>
                <div>TUE</div>
                <div>WED</div>
                <div>THU</div>
                <div>FRI</div>
                <div>SAT</div>
                <div>SUN</div>
            </div>
            <div class="times">
                <div>7 AM</div>
                <div>8 AM</div>
                <div>9 AM</div>
                <div>10 AM</div>
                <div>11 AM</div>
                <div>12 PM</div>
                <div>1 PM</div>
                <div>2 PM</div>
                <div>3 PM</div>
                <div>4 PM</div>
                <div>5 PM</div>
                <div>6 PM</div>
                <div>7 PM</div>
                <div>8 PM</div>
                <div>9 PM</div>
                <div>10 PM</div>
            </div>
            <div class="schedules">
                <div class="sched-grid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="sched-body">
                    <% for (const schedule of classes) { %>
                        <div class="sched-block" data-mdb-toggle="tooltip" data-mdb-html="true"
                            <% if (schedule.room) { %>
                            title="<b><%= schedule.subject %></b><br><small>Prof. <%= schedule.faculty_name %><br><i><%= schedule.mode %> @ <%= schedule.room %></i></small>"
                            <% } else { %>
                            title="<b><%= schedule.subject %></b><br><small>Prof. <%= schedule.faculty_name %><br><i><%= schedule.mode %></i></small>"
                            <% } %>
                            style="grid-column: <%= schedule.day %> / span 1; grid-row: <%= schedule.start %> / <%= schedule.end %>;">
                            <h6 class="text-break"><%= schedule.subject %></h6>
                            <p class="text-truncate"><small>
                                Prof. <%= schedule.faculty_name %><br>
                                <% if (schedule.room) { %>
                                    <i><%= schedule.mode %> @ <%= schedule.room %></i>
                                <% } else { %>
                                    <i><%= schedule.mode %></i>
                                <% } %>
                            </small></p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/display-dropdown.js"></script>
<script>
    const startHeightSched = <%- JSON.stringify(Math.min(...classes.map(c => c.start) )) %>;
    
    if (startHeightSched > 9) {
        $(document).ready(() => setTimeout(() => {
            $(".main-view>div:last-child").stop().animate({scrollTop: startHeightSched * 43 + 235}, 1000, 'swing');
        }, 300));
    }
    
    const addClass = (blockID, schedule) => new Promise((resolve, reject) => {
        $.post("/api/schedules/<%= term.id %>",
            { faculty: facultyID, schedule: schedule},
            () => location.reload(),
            "json"
        ).fail((error) => {
            console.log(error);
            reject(error);
        });
    });

    displayDropMenu($("#class-day"), "Pick Day");
    displayDropMenu($("#class-mode"), "Pick Mode");
    displayDropMenu($("a#class-faculty"), "Pick Professor");

    $(".menu-item").click((event) => {
        const newClass = $(event.currentTarget);
        $("#class-subject").text(newClass.attr("title")).attr("aria-valuenow", newClass.attr("id"));
        $("#class-hours").text(`${newClass.attr("aria-valuenow")} / ${newClass.attr("aria-valuemax")}`);
        
        const facultyID = newClass.attr("itemid");
        if (facultyID && facultyID != "") {
            const facultyName = newClass.find(".prof-name").text().slice(11);
            $("span#class-faculty").text(facultyName).attr("itemid", facultyID);
            $("a#class-faculty").hide();
        } else {
            $("span#class-faculty").empty();
            $("a#class-faculty").show();
        }
        newClassForm.show();
    });

    $("[aria-labelledby='class-day'] > li > a.dropdown-item").click((event) => {
        const dayIndex = event.currentTarget.getAttribute("data-cts-enum");
        if (!dayIndex) return $("#class-day").attr("aria-valuenow", null);

        $("#class-day").attr("aria-valuenow", dayIndex);
        $("#class-start").focus();
    });

    $("[aria-labelledby='class-mode'] > li > a.dropdown-item").click((event) => {
        const modeIndex = event.currentTarget.getAttribute("data-cts-enum");
        if (!modeIndex) return $("#class-room").attr("aria-valuenow", null);

        $("#class-mode").attr("aria-valuenow", modeIndex);
        if (modeIndex == 1) {
            $("#class-room").prop("disabled", false).focus();
        } else if (modeIndex <= 3) {
            $("#class-room").prop("disabled", true);
        }
    })

    $("#confirm-new-class").click(async (event) => {
        const day = $("#class-day");
        const start = $("#class-start");
        const end = $("#class-end");
        const reqMinutes = parseFloat($("#class-hours").text().slice(-1)) * 60;
        if (day.text() == "Pick Day" || !start.val() || !end.val()) {
            return console.log("Missing schedule input.");
        } else if (start.val() > end.val()) {
            return console.log("Start time must be earlier than end time");
        }
        let startTime = roundMinutes(start.val(), 30);
        if (startTime < 7 * 60) {
            return console.log("Class must start on or later than 7AM");
        }
        
        let endTime = roundMinutes(end.val(), 30);

        if (endTime > 22 * 60) {
            return console.log("Class must end on or before 10PM");
        } else if (end - start > reqMinutes) {
            console.log("Assigned time exceeds required hours.");
            endTime = Math.trunc(startTime + reqMinutes);
        }
        console.log(day.attr("aria-valuenow"), startTime, endTime);
        try {
            await addClass($(".page-title").attr("id"), {
                subject: $("#class-subject").attr("aria-valuenow"),
                mode: $("#class-mode").attr("aria-valuenow") || 1,
                room: $("#class-room").val().toLowerCase(),
                block: $("#class-block").attr("aria-valuenow"),
                day: day.attr("aria-valuenow"),
                start: startTime,
                end: endTime,
                partial: ($("#class-hours").text().split(" ")[0] != "0")
            });
        } catch (error) {
            console.log(error);
        }
    });

    function roundMinutes(time, nearestMinutes = 1) {
        let [hours, mins] = time.split(":");
        let toMins = parseInt(hours) * 60 + parseInt(mins);
        const rounded = Math.round(toMins / nearestMinutes) * nearestMinutes;
        const finalMins = rounded % 60;
        const finalHours = (rounded - finalMins);
        return finalHours + finalMins;
    }
</script>