<div class="side-panel">
    <div class="panel-header mx-4">
        <h5 id="college" class="text-truncate" title="College of Urban Agriculture">College of Urban Agriculture</h5>
        <p>Unassigned Classes</p>
    </div>
    <div class="panel-body">
        <a type="button" class="collapse-btn" data-mdb-toggle="collapse" data-mdb-target="#department-classes"
            aria-expanded="false">
            <i class="fas fa-caret-down me-2"></i><text>Departmental Classes</text>
        </a>
        <% if (deptClasses.length> 0) { %>
            <div class="collapse show" id="department-classes">
                <div>
                    <h6 class="block-title">
                        <small>
                            <%= deptClasses[0].course %>
                        </small><br>
                        Year <%= deptClasses[0].year %> - Block <%= deptClasses[0].block_no %>
                    </h6>
                    <ul class="list-group panel-menu">
                        <% for (let i=0; i < deptClasses.length; i++) { %>
                            <% if (i> 0 && deptClasses[i].year != deptClasses[i-1].year) { %>
                    </ul>
                    <hr>
                    <h6 class="block-title">
                        <small>
                            <%= deptClasses[i].course %>
                        </small><br>
                        Year <%= deptClasses[i].year %> - Block <%= deptClasses[i].block_no %>
                    </h6>
                    <ul class="list-group panel-menu">
                        <% } %>
                            <button type="button" class="list-group-item list-group-item-action menu-item"
                                title="<%= deptClasses[i].subject %>" id="<%= deptClasses[i].id %>">
                                <p class="text-truncate m-0">
                                    <%= deptClasses[i].subject %>
                                </p>
                            </button>
                            <% } %>
                    </ul>
                </div>
            </div>
        <% } else { %>
            <div class="collapse" id="department-classes">
                <p>No more classes to assign</p>
            </div>
        <% } %>
        <a type="button" class="collapse-btn" data-mdb-toggle="collapse" data-mdb-target="#other-classes"
            aria-expanded="false">
            <i class="fas fa-caret-down me-2"></i><text>Other Classes</text>
        </a>
        <% if (otherClasses.length> 0) { %>
            <div class="collapse" id="other-classes">
                <div>
                    <h6 class="block-title">
                        <small>
                            <%= otherClasses[0].course %>
                        </small><br>
                        Year <%= otherClasses[0].year %> - Block <%= otherClasses[0].block_no %>
                    </h6>
                    <ul class="list-group panel-menu">
                        <% for (let i=0; i < otherClasses.length; i++) { %>
                            <% if (i> 0 && otherClasses[i].year != otherClasses[i-1].year) { %>
                    </ul>
                    <hr>
                    <h6 class="block-title">
                        <small>
                            <%= otherClasses[i].course %>
                        </small><br>
                        Year <%= otherClasses[i].year %> - Block <%= otherClasses[i].block_no %>
                    </h6>
                    <ul class="list-group panel-menu">
                        <% } %>
                            <button type="button" class="list-group-item list-group-item-action menu-item"
                                title="<%= otherClasses[i].subject %>" id="<%= otherClasses[i].id %>">
                                <p class="text-truncate m-0">
                                    <%= otherClasses[i].subject %>
                                </p>
                            </button>
                            <% } %>
                    </ul>
                </div>
            </div>
        <% } else { %>
            <div class="collapse" id="other-classes">
                <p>No more classes to assign</p>
            </div>
        <% } %>
    </div>
</div>
<div>
    <nav aria-label="Schedule Navigation for Faculty">
        <ul class="pagination" id="schedule-nav">
            <li class="page-item">
                <a class="page-link me-2" type="button"><i class="fas fa-chevron-left"></i></a>
                <p class="prev page-label">Dasal, Angela Marielle Aure</p>
            </li>
            <li class="justify-content-end page-item">
                <p class="next page-label">Dela Cruz, Juan Antonio</p>
                <a class="page-link ms-2" type="button"><i class="fas fa-chevron-right"></i></a>
            </li>
            <!-- <li class="page-item"><i class="fas fa-chevron-right ms-2"></i></li> -->
        </ul>
    </nav>

    <div class="about">
        <h4 class="page-title">Dasal, Hannah Jacqueline Aure</h4>
        <h6 class="text-muted">202010919</h6>
        <p>
            <b>Employment Status:</b> full-time<br>
            <b>Faculty Load:</b> 16 / 21<br>
            <b>Preffered Subjects:</b> Introduction to Computing , Fundamentals of Programming
        </p>
    </div>
    <div class="scheduler">
        <div></div>
        <div class="days">
            <div>MON</div>
            <div>TUE</div>
            <div>WED</div>
            <div>THU</div>
            <div>FRI</div>
            <div>SAT</div>
            <div>SUN</div>
        </div>
        <div class="times">
            <div>7 AM</div>
            <div>8 AM</div>
            <div>9 AM</div>
            <div>10 AM</div>
            <div>11 AM</div>
            <div>12 PM</div>
            <div>1 PM</div>
            <div>2 PM</div>
            <div>3 PM</div>
            <div>4 PM</div>
            <div>5 PM</div>
            <div>6 PM</div>
            <div>7 PM</div>
            <div>8 PM</div>
            <div>9 PM</div>
            <div>10 PM</div>
        </div>
        <div class="schedules">
            <div class="sched-grid">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="sched-body">
                <div class="sched-block" style="grid-column: 3 / span 1; grid-row: 3 / span 3;">
                    Wadduppp
                </div>
            </div>
        </div>
    </div>
</div>