<div class="bg-light task-view pb-4 pt-4" id="schedule-view">
    <% const {term, classes} = data %>
    <% if (term && classes) { %>
    <h3 class="text-center mb-4 mt-2">
        Current Schedule<br>
        <small class="text-muted">
            A.Y. <%= term.year %>-<%= term.year + 1 %> (<%- term.term %> Semester)
        </small>
    </h3>
    <div class="scheduler">
        <div></div>
        <div class="days">
            <div>MON</div>
            <div>TUE</div>
            <div>WED</div>
            <div>THU</div>
            <div>FRI</div>
            <div>SAT</div>
            <div>SUN</div>
        </div>
        <div class="times">
            <div>7 AM</div>
            <div>8 AM</div>
            <div>9 AM</div>
            <div>10 AM</div>
            <div>11 AM</div>
            <div>12 PM</div>
            <div>1 PM</div>
            <div>2 PM</div>
            <div>3 PM</div>
            <div>4 PM</div>
            <div>5 PM</div>
            <div>6 PM</div>
            <div>7 PM</div>
            <div>8 PM</div>
            <div>9 PM</div>
            <div>10 PM</div>
        </div>
        <div class="schedules">
            <div class="sched-grid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="sched-body">
                <% for (const {subject, year, block_no, course, mode, room, day, start, end} of classes) { %>
                    <div class="sched-block" data-mdb-toggle="tooltip" data-mdb-html="true"
                        <% if (room) { %>
                        title="<b><%= subject %></b><br><small><%= year %>-<%= block_no %> <%= course %><br><i><%= mode %> @ <%= room %></i></small>"
                        <% } else { %>
                        title="<b><%= subject %></b><br><small><%= year %>-<%= block_no %> <%= course %><br><i><%= mode %></i></small>"
                        <% } %>
                        style="grid-column: <%= day %> / span 1; grid-row: <%= start %> / <%= end %>;">
                        <h6 class="text-break"><%= subject %></h6>
                        <p class="text-truncate"><small>
                            <%= year %>-<%= block_no %> <%= course %><br>
                            <% if (room) { %>
                                <i><%= mode %> @ <%= room %></i>
                            <% } else { %>
                                <i><%= mode %></i>
                            <% } %>
                        </small></p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <% } else { %>
        <h2 class="text-center">No Open Current Schedules</h2>
    <% } %>
</div>